body{
    background-image: url("../images/001_paper_2872x2592_all-free-download.com.jpg");
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}